@import "function.styl"
button-color = #ff8dac
font-set(size,color)
	font-size size
	line-height size+3
	color color

.button
	color button-color
	border 1px solid @color

.button-1
	color button-color
	
.button-2
	color button-color

div
	font-set(12px, green)

p
	margin sum()
	padding double(15px)



